<h1 style="Text-align: center"><%= @game.loser.name %> loses.</h1>
<div style="Text-align: center">
  <form action="/play_again" method="post">
    <button type="submit" style="Width: 200px; Height: 70px; Background-color: white ; Color: blue; Font-size: 30px; Border: 2px solid black">Play Again</button>
  </form>
</div>
