<h1 style = "text-align: center">Battle!</h1>


<h1 style = "text-align: center"><%= @player_1_name %> vs. <%= @player_2_name %></h1>

<div style = "float: left; width:50%;">
  <h2 style = "text-align: center"><%= @player_1_name %>: 50HP</h2>
</div>

<div style = "float: left; width:50%;">
  <h2 style = "text-align: center"><%= @player_2_name %>: 50HP</h2>
</div>
